pytz
requests
python-dotenv

ipython==8.5.0  # enhanced python interpreter

# Django
django==3.2.9
django-cors-headers==3.13.0
django-debug-toolbar==3.6.0
whitenoise==6.2.0  # for serving static files

# Django 3.0 async requirements
gunicorn==20.1.0
uvicorn==0.18.3

# Databases
psycopg2-binary==2.9.3
dj-database-url==1.0.0

# Distributed async tasks
celery==5.2.7
redis==4.3.4
django-celery-beat==2.3.0
django-celery-results

# Telegram
python-telegram-bot==13.15  # last sync version

# Monitoring
sentry-sdk==1.39.0

# For API
fastapi==0.105.0
openai
python-dotenv

# For storage service
boto3==1.33.13
python-multipart

# LangChain
--extra-index-url https://download.pytorch.org/whl/cpu
langserve[server]==0.0.35
pydantic==1.10.13
langchain==0.0.345
transformers==4.36.0
torch==2.1.0+cpu
sentencepiece==0.1.99
accelerate==0.25.0
xformers==0.0.22.post7